body {
    display: flex;
    flex-wrap: wrap;
  }
  header, footer {
    width: 100%;
    background-color: lightgray;
  }
  nav, main, aside {
    width: 100%;
    background-color: white;
  }
  @media (min-width: 768px) {
    nav {
      width: 20%;
      background-color: lightgray;
    }
    main {
      width: 60%;
      background-color: white;
    }
    aside {
      width: 20%;
      background-color: lightgray;
    }
  }
  